.header-block-d2 {
  background: url(../img/deratization.png) 100% 10% no-repeat rgba(0, 0, 0, 0.45);
  background-blend-mode: darken;
  background-size: cover;

  .header-text {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30rem 0 3rem;
  }

  span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30rem;
  }
}

// Блок текста
.texts {
  .deratization-images {
    width: 80%;
    margin: 0 auto;
    padding: 8rem 0;
    display: flex;
    justify-content: space-between;

    .deratization-image {
      width: 25rem;
      height: 20rem;
    }
  }
}

// Блок вопросов
.questions-d3 {
  background: url(../img/deratization1.png) no-repeat;
  background-size: cover;

  .questions-container {
    width: 60%;
    margin: auto;
    padding-bottom: 10rem;

    .question1,
    .question2,
    .question3,
    .question4 {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.6rem;
      padding-bottom: 2rem;
    }

    .answer1,
    .answer2,
    .answer3,
    .answer4 {
      display: none;
      font-weight: normal;
      font-size: 2.4rem;
      line-height: 3.6rem;
    }
  }

}

@media (max-width: 992px) {
  .header-block-d2 {
    .header-text {
      font-size: 3rem;
    }

    span {
      font-size: 2rem;
    }
  }

  .texts {

    .deratization-images {
      padding: 5rem 0;


      .deratization-image {
        width: 15rem;
        height: 12rem;
      }
    }
  }
}

@media (max-width: 768px) {

  .header-block-d2 {
    .header-text {
      font-size: 2.5rem;

      span {
        font-size: 1.8rem;
      }
    }
  }

  .questions-d3 {

    .questions-container {
      width: 80%;
    }
  }

}

@media (max-width: 576px) {
  .header-block-d2 {

    .header-text {
      font-size: 2.2rem;
      line-height: 4rem;
      padding: 10rem 0 3rem;
    }

    span {
      font-size: 1.5rem;
      padding-bottom: 10rem;
    }
  }

  .title {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 5rem 0 3rem;
  }

  .texts {

    .deratization-images {
      padding: 3rem 0;
      width: 95%;


      .deratization-image {
        width: 7rem;
        height: 7rem;
        margin: 0 1rem;
      }
    }

    .disinfection-text-container {
      width: 95%;

      .disinfection-what {
        box-shadow: none;
      }

      .disinfection-methods {
        box-shadow: none;
      }
    }
  }

  .questions-d3 {

    .questions-container {
      width: 95%;

      .question1,
      .question2,
      .question3,
      .question4 {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 3rem;
        padding-bottom: 1rem;
      }

      .answer1,
      .answer2,
      .answer3,
      .answer4 {
        display: none;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 3rem;
      }
    }
  }

}