.menu-link {
  display: none;
  margin-right: 1.8rem;
  margin-top: 2rem;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #0B445E;
  cursor: pointer;

  &:hover {
    color: #FFFFFF;
  }

}

.header-block-d {
  background: url(../img/disinfection.jpg) center center no-repeat rgba(0, 0, 0, 0.45);
  background-blend-mode: darken;
  background-size: cover;

  .header-text {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20rem 0 3rem;
  }

  span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20rem;
  }
}


// Блок текста
.texts {
  background: linear-gradient(180deg, rgba(115, 115, 134, 0.6) 0%, rgba(230, 234, 246, 0.6) 100%);

  .disinfection-images {
    display: flex;
    justify-content: center;

    .disinfection-image {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 10rem 2rem 5rem;
    }
  }

  .disinfection-text-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;

    .disinfection-what {
      margin-right: 5rem;
      background: #B8D0DF;
      padding: 3rem;

      h2 {
        font-weight: 800;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      .disinfection-what-text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    .disinfection-methods {
      background: #B8D0DF;
      padding: 3rem;


      h2 {
        font-weight: 800;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      .disinfection-methods-text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;

        span {
          font-weight: 600;
        }
      }
    }
  }
}

// Блок услуг
.services {
  background: linear-gradient(180deg, #EEF0F7 0%, #ACACB8 100%);

  .services-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 5rem;

    .services-block {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;

      .services-icon {
        width: 10rem;
        margin-bottom: 5rem;
      }

      .services-text {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
      }
    }
  }
}

// Блок вопросов
.questions-d {
  background: url(../img/disinfection1.jpg) center center no-repeat;
  background-size: cover;
}

.questions-container {
  width: 60%;
  margin: auto;
  padding-bottom: 10rem;

  .question {
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      font-size: 2.6rem;
    }

    &::after {
      content: "+";
    }

    &.is-open::after {
      content: "-";
    }

    &.is-open {
      background: #8397BD;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
  }

  .answer {
    font-weight: normal;
    font-size: 2rem;
    line-height: 3.6rem;
    margin-bottom: 3rem;
    padding: 0 3rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    -webkit-transition: max-height 0.4s ease-in-out;
    -moz-transition: max-height 0.4s ease-in-out;
    -ms-transition: max-height 0.4s ease-in-out;
    -o-transition: max-height 0.4s ease-in-out;
  }
}

@media (max-width: 1200px) {
  .header-block-d {
    .header-text {
      font-size: 3.5rem;
    }

    span {
      font-size: 2.5rem;
    }
  }

  .texts {

    .disinfection-images {
      .disinfection-image {
        width: 15rem;
        height: 15rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .menu-link {
    display: block;
  }

  .header-block-d {
    .header-text {
      font-size: 3rem;
    }

    span {
      font-size: 2rem;
    }
  }

  .texts {

    .disinfection-text-container {
      flex-direction: column;

      .disinfection-what {
        margin: 0 0 5rem;
      }
    }
  }
}

@media (max-width: 768px) {

  .header-block-d {
    .header-text {
      font-size: 2.5rem;

      span {
        font-size: 1.8rem;
      }
    }
  }

  .texts {

    .disinfection-images {

      .disinfection-image {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  .services {

    .services-container {

      .services-block {
        width: 45%;

        .services-icon {
          margin-bottom: 2rem;
        }

        .services-text {
          margin-bottom: 3rem;
        }
      }
    }
  }

  .questions-container {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .header-block-d {

    .header-text {
      font-size: 2.2rem;
      line-height: 4rem;
      padding: 10rem 0 3rem;
    }

    span {
      font-size: 1.5rem;
      padding-bottom: 10rem;
    }
  }

  .title {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 5rem 0 3rem;
  }

  .texts {

    .disinfection-images {

      .disinfection-image {
        width: 5rem;
        height: 5rem;
        margin: 5rem 1rem 4rem;
      }
    }

    .disinfection-text-container {
      width: 95%;

      .disinfection-what {
        box-shadow: none;
      }

      .disinfection-methods {
        box-shadow: none;
      }
    }
  }

  .services {

    .services-container {

      .services-block {
        width: 95%;
      }
    }
  }

  .questions-container {
    width: 95%;

    .question1,
    .question2,
    .question3,
    .question4 {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 3rem;
      padding-bottom: 1rem;
    }

    .answer1,
    .answer2,
    .answer3,
    .answer4 {
      display: none;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }
}

@media (max-width: 360px) {

  .menu-link {
    margin-right: 0;
    font-size: 1rem;
    margin-top: 2rem;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
  }
}