@font-face {
  font-family: 'Oswald';
  src: local('Oswald Regular'),
    local('Oswald-Regular'),
    url('../fonts/Oswaldregular.woff2') format('woff2'),
    url('../fonts/Oswaldregular.woff') format('woff'),
    url('../fonts/Oswaldregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald DemiBold'),
    local('Oswald-DemiBold'),
    url('../fonts/Oswalddemibold.woff2') format('woff2'),
    url('../fonts/Oswalddemibold.woff') format('woff'),
    url('../fonts/Oswalddemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: local('Oswald Heavy'),
    local('Oswald-Heavy'),
    url('../fonts/Oswaldheavy.woff2') format('woff2'),
    url('../fonts/Oswaldheavy.woff') format('woff'),
    url('../fonts/Oswaldheavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  font-family: 'Oswald',
    sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: #0B445E;
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
}

@import "_home";
@import "_disinfection";
@import "_pestControl";
@import "_deratization";
@import "_ornithology";
@import "_deodorization";
@import "_treatment";