@font-face {
  font-family: 'Oswald';
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswaldregular.woff2") format("woff2"), url("../fonts/Oswaldregular.woff") format("woff"), url("../fonts/Oswaldregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: local("Oswald DemiBold"), local("Oswald-DemiBold"), url("../fonts/Oswalddemibold.woff2") format("woff2"), url("../fonts/Oswalddemibold.woff") format("woff"), url("../fonts/Oswalddemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: local("Oswald Heavy"), local("Oswald-Heavy"), url("../fonts/Oswaldheavy.woff2") format("woff2"), url("../fonts/Oswaldheavy.woff") format("woff"), url("../fonts/Oswaldheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
* {
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px;
  color: #0B445E;
  overflow: hidden;
  height: 100%; }

body {
  overflow: auto;
  height: 100%; }

.nav {
  background: #B8D0DF;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 99;
  width: 100%;
  text-align: center; }
  .nav .nav-container {
    width: 80%;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 1rem 0; }
    .nav .nav-container .logo {
      display: inline-block;
      width: 20rem;
      margin-right: 10rem; }
    .nav .nav-container .links {
      display: inline-block;
      vertical-align: middle; }
      .nav .nav-container .links .header-link {
        margin-right: 1.8rem;
        text-decoration: none;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #0B445E;
        cursor: pointer; }
        .nav .nav-container .links .header-link:hover {
          color: #FFFFFF; }
    .nav .nav-container .contacts {
      display: inline-block;
      text-align: right;
      margin-top: 2rem;
      font-weight: 400;
      color: #0B445E; }

.header-block {
  position: relative;
  height: 100vh;
  background: url(../img/title.jpg) right 30% top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2; }
  .header-block:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: -1; }
  .header-block .header-text {
    font-weight: bold;
    font-size: 4rem;
    line-height: 6rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 35vh 0 30vh; }
  .header-block .down-arrow {
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 5rem; }

.types-of-works {
  background: #8397BD;
  padding-bottom: 5rem; }

.title {
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  line-height: 4.8rem;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  padding: 10rem 0 8rem; }

.work-blocks {
  background: #E6EAF6;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
  margin-bottom: 10rem; }
  .work-blocks .work-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 5rem; }
    .work-blocks .work-container .work-blocks1 {
      margin-right: 2rem; }
    .work-blocks .work-container .work-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 5rem; }
      .work-blocks .work-container .work-block .work-icon {
        width: 10rem;
        height: 10rem;
        margin-right: 4rem; }
      .work-blocks .work-container .work-block .work-text {
        display: inline-block;
        font-weight: 600;
        font-style: normal;
        font-size: 2.5rem;
        color: #0B445E;
        text-align: left; }

.work-text1 {
  display: block;
  font-weight: 800;
  font-style: normal;
  font-size: 4.8rem;
  line-height: 7rem;
  text-align: center;
  color: #FF0606;
  padding-bottom: 5rem; }

.for-who {
  background: #E6EAF6; }
  .for-who .who-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .for-who .who-container .who-card {
      position: relative;
      width: 25%;
      height: 35rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer; }
      .for-who .who-container .who-card:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        left: 0;
        top: 0;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transition: all 0.22s;
        -moz-transition: all 0.22s;
        -ms-transition: all 0.22s;
        -o-transition: all 0.22s; }
      .for-who .who-container .who-card:hover:before {
        background: rgba(0, 0, 0, 0.4); }
      .for-who .who-container .who-card .card-image {
        width: 100%;
        height: 100%; }
      .for-who .who-container .who-card .card-text {
        position: absolute;
        font-weight: 800;
        font-style: normal;
        text-align: center;
        letter-spacing: 0.25em;
        color: #FFFFFF;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0); }
        .for-who .who-container .who-card .card-text .card-text1 {
          font-size: 2.4rem;
          line-height: 3.6rem;
          text-transform: uppercase; }
        .for-who .who-container .who-card .card-text .card-text2 {
          font-size: 1.5rem;
          line-height: 3rem; }

.our-advantages {
  background: #8397BD;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 5rem; }
  .our-advantages .advantages-discount {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10rem; }
    .our-advantages .advantages-discount .advantages {
      width: 45%;
      background: #E6EAF6;
      -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 4rem 3.5rem 0; }
      .our-advantages .advantages-discount .advantages .advantage {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 5rem; }
        .our-advantages .advantages-discount .advantages .advantage .advantages-text {
          font-weight: 400;
          font-style: normal;
          font-size: 1.8rem;
          line-height: 2.4rem;
          margin-left: 2rem; }
  .our-advantages .discount {
    position: relative;
    width: 45%;
    background: url(../img/discount.jpg) center center no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 2rem 0rem 3rem;
    -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
    .our-advantages .discount:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      left: 0;
      top: 0; }
    .our-advantages .discount .discount-title {
      font-weight: 800;
      font-style: normal;
      font-size: 2.4rem;
      line-height: 3.6rem;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 12rem;
      z-index: 1; }
    .our-advantages .discount .discount-text {
      font-weight: 800;
      font-style: normal;
      color: rgba(255, 255, 255, 0.8);
      font-size: 2.4rem;
      line-height: 3.6rem;
      text-align: end;
      z-index: 1; }
      .our-advantages .discount .discount-text span {
        display: block;
        font-size: 3.6rem;
        line-height: 5.3rem;
        color: rgba(255, 255, 255, 0.8); }

.customers {
  background-image: url(../img/title1.jpg);
  background-size: cover;
  padding-bottom: 7rem; }

.customer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem; }
  .customer-container .customer {
    width: 23%;
    margin-right: 5rem; }

@media (max-width: 1200px) {
  .nav .nav-container {
    font-size: 1.2rem; }
    .nav .nav-container .logo {
      width: 15rem; }
    .nav .nav-container .links .header-link {
      margin-right: 1rem; }
    .nav .nav-container .contacts {
      margin-top: 1rem; }

  .types-of-works .work-blocks .work-container .work-block .work-icon {
    width: 8rem;
    height: 8rem; }
  .types-of-works .work-blocks .work-container .work-block .work-text {
    font-size: 1.8rem; }

  .for-who .who-container .who-card {
    width: 50%; }

  .our-advantages .advantages-discount {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10rem; }
    .our-advantages .advantages-discount .advantages {
      width: 80%;
      margin: auto auto 5rem; }
  .our-advantages .discount {
    width: 80%;
    margin: auto;
    padding: 4rem 3rem; } }
@media (max-width: 992px) {
  .nav {
    font-size: 1rem;
    padding: 1rem 0; }
    .nav .logo {
      width: 15rem; }
    .nav .header-link {
      display: none; }
    .nav .contacts {
      margin-top: 1rem; }

  .header-block .header-text {
    font-size: 2.5rem; }

  .types-of-works .work-blocks .work-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto; }
    .types-of-works .work-blocks .work-container .work-blocks1 {
      margin-right: 0; }
    .types-of-works .work-blocks .work-container .work-block .work-icon {
      width: 6rem;
      height: 6rem; }
    .types-of-works .work-blocks .work-container .work-block .work-text {
      font-size: 1.8rem; }
  .types-of-works .work-blocks .work-text1 {
    font-size: 4rem; } }
@media (max-width: 768px) {
  .types-of-works .work-container {
    padding: 5rem 2rem 0; }
    .types-of-works .work-container .work-block .work-icon {
      width: 5rem;
      height: 4rem;
      margin-right: 1rem; }
    .types-of-works .work-container .work-block .work-text {
      font-size: 1.8rem; } }
@media (max-width: 576px) {
  .title {
    font-size: 1.8rem;
    padding: 8rem 0 5rem; }

  .nav {
    padding: 1rem 0; }
    .nav .nav-container {
      width: 98%; }
      .nav .nav-container .logo {
        width: 12rem; }
      .nav .nav-container .menu-link {
        margin-right: 0;
        font-size: 1.2rem; }
      .nav .nav-container .contacts {
        margin-top: 1rem;
        font-size: 1.2rem; }

  .header-block {
    height: 100vh;
    background-attachment: scroll;
    background-size: cover; }
    .header-block .header-text {
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 20rem 0 15rem; }

  .types-of-works .work-blocks .work-container {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0.5rem 0; }
    .types-of-works .work-blocks .work-container .work-icon {
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem; }
    .types-of-works .work-blocks .work-container .work-text {
      font-size: 1.4rem; }
  .types-of-works .work-blocks .work-text1 {
    font-size: 3rem;
    line-height: 3rem; }

  .for-who .who-container .who-card {
    width: 100%; }

  .our-advantages {
    background-attachment: scroll; }
    .our-advantages .advantages-discount {
      width: 95%; }
      .our-advantages .advantages-discount .advantages {
        width: 100%; }
    .our-advantages .discount {
      width: 100%; }

  .customer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto; }
    .customer-container .customer {
      width: 40%;
      margin: 0 0 5rem; } }
.menu-link {
  display: none;
  margin-right: 1.8rem;
  margin-top: 2rem;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #0B445E;
  cursor: pointer; }
  .menu-link:hover {
    color: #FFFFFF; }

.header-block-d {
  position: relative;
  background: url(../img/disinfection.jpg) center center no-repeat;
  background-size: cover;
  z-index: -2; }
  .header-block-d:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    left: 0;
    top: 0;
    z-index: -1; }
  .header-block-d .header-text {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30rem 0 3rem; }
  .header-block-d span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30rem; }

.texts {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(115, 115, 134, 0.6)), to(rgba(230, 234, 246, 0.6)));
  background: linear-gradient(180deg, rgba(115, 115, 134, 0.6) 0%, rgba(230, 234, 246, 0.6) 100%); }
  .texts .disinfection-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .texts .disinfection-images .disinfection-image {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      margin: 10rem 2rem 5rem; }
  .texts .disinfection-text-container {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 5rem; }
    .texts .disinfection-text-container .disinfection-what {
      margin-right: 5rem;
      background: #B8D0DF;
      padding: 3rem; }
      .texts .disinfection-text-container .disinfection-what h2 {
        font-weight: 800;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        margin-bottom: 2rem; }
      .texts .disinfection-text-container .disinfection-what .disinfection-what-text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem; }
    .texts .disinfection-text-container .disinfection-methods {
      background: #B8D0DF;
      padding: 3rem; }
      .texts .disinfection-text-container .disinfection-methods h2 {
        font-weight: 800;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        margin-bottom: 2rem; }
      .texts .disinfection-text-container .disinfection-methods .disinfection-methods-text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem; }
        .texts .disinfection-text-container .disinfection-methods .disinfection-methods-text span {
          font-weight: 600; }

.services-order {
  background: -webkit-gradient(linear, left top, left bottom, from(#EFF1F9), to(#ADADB9));
  background: linear-gradient(180deg, #EFF1F9 0%, #ADADB9 100%);
  padding-bottom: 10rem; }
  .services-order .services-container {
    width: 80%;
    margin: 0 auto; }
    .services-order .services-container .services {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-bottom: 5rem; }
      .services-order .services-container .services .services-block {
        width: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 2rem; }
        .services-order .services-container .services .services-block .services-icon {
          width: 10rem;
          margin-bottom: 5rem; }
        .services-order .services-container .services .services-block .services-text {
          max-width: 100%;
          font-weight: 300;
          font-size: 1.6rem;
          line-height: 2.4rem;
          text-align: center; }
    .services-order .services-container .order {
      background: #E6EAF6;
      border: 1px solid rgba(11, 68, 94, 0.5);
      -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
              box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px; }
      .services-order .services-container .order .order-form {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .services-order .services-container .order .order-form .form {
          position: relative;
          width: 45%;
          background: #E6EAF6;
          border: 1px solid rgba(11, 68, 94, 0.5);
          border-radius: 5px;
          -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
                  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          padding: 3rem;
          margin: 3rem; }
          .services-order .services-container .order .order-form .form .form-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            margin-bottom: 2rem; }
          .services-order .services-container .order .order-form .form .form-text {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 6rem; }
          .services-order .services-container .order .order-form .form .form-input {
            display: block;
            width: 100%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: #E6EAF6;
            border: 1px solid rgba(11, 68, 94, 0.5);
            -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
                    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 1.5rem;
            margin-bottom: 4rem;
            outline: none;
            overflow: auto; }
          .services-order .services-container .order .order-form .form .form-label {
            position: absolute;
            display: inline-block;
            padding: 0 0.5rem;
            font-size: 1.8rem;
            background-color: #E6EAF6;
            color: #0B445E;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%); }
          .services-order .services-container .order .order-form .form .form-btn {
            display: block;
            margin: 0 auto;
            background: #CECFD9;
            border: 1px solid rgba(11, 68, 94, 0.5);
            -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
                    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            padding: 1rem 2rem;
            color: #0B445E;
            font-style: normal;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.7rem;
            text-align: center;
            letter-spacing: 0.1em;
            cursor: pointer;
            text-transform: uppercase; }
        .services-order .services-container .order .order-form .form-image {
          width: 45%; }
          .services-order .services-container .order .order-form .form-image .image {
            max-width: 100%;
            max-height: 60rem; }
      .services-order .services-container .order .order-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 7rem;
        color: #0B445E; }
        .services-order .services-container .order .order-buttons .prices-btn {
          display: block;
          margin: 0 auto;
          background: #CECFD9;
          border: 1px solid rgba(11, 68, 94, 0.5);
          -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
                  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 1rem 2rem;
          color: #0B445E;
          font-style: normal;
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 2.7rem;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          cursor: pointer; }

.questions-d {
  background: url(../img/disinfection1.jpg) center center no-repeat;
  background-size: cover; }

.questions-container {
  width: 60%;
  margin: auto;
  padding-bottom: 10rem; }
  .questions-container .question {
    padding: 1rem 3rem;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer; }
    .questions-container .question:hover {
      font-size: 2.6rem; }
    .questions-container .question:after {
      content: url(../img/down.svg);
      margin-left: 3rem; }
    .questions-container .question.is-open:after {
      content: url(../img/up.svg); }
    .questions-container .question.is-open {
      background: #8397BD;
      -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }
  .questions-container .answer {
    font-weight: normal;
    font-size: 2rem;
    line-height: 3.6rem;
    margin-bottom: 3rem;
    padding: 0 3rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    -webkit-transition: max-height 0.4s ease-in-out;
    -moz-transition: max-height 0.4s ease-in-out;
    -ms-transition: max-height 0.4s ease-in-out;
    -o-transition: max-height 0.4s ease-in-out; }

@media (max-width: 1200px) {
  .header-block-d .header-text {
    font-size: 3.5rem; }
  .header-block-d span {
    font-size: 2.5rem; }

  .texts .disinfection-images .disinfection-image {
    width: 15rem;
    height: 15rem; } }
@media (max-width: 992px) {
  .menu-link {
    display: block; }

  .header-block-d .header-text {
    font-size: 3rem; }
  .header-block-d span {
    font-size: 2rem; }

  .texts .disinfection-text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .texts .disinfection-text-container .disinfection-what {
      margin: 0 0 5rem; }

  .services-order .services-container .services .services-block {
    width: 45%; }
    .services-order .services-container .services .services-block .services-icon {
      margin-bottom: 2rem; }
    .services-order .services-container .services .services-block .services-text {
      margin-bottom: 3rem; }
  .services-order .services-container .order .order-form .form {
    padding: 2rem;
    margin: 2rem; }
    .services-order .services-container .order .order-form .form .form-title {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 2rem; }
    .services-order .services-container .order .order-form .form .form-text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4rem; }
    .services-order .services-container .order .order-form .form .form-input {
      padding: 1rem;
      margin-bottom: 3rem; }
    .services-order .services-container .order .order-form .form .form-label {
      font-size: 1.2rem; }
    .services-order .services-container .order .order-form .form .form-btn {
      font-size: 1.4rem; }
  .services-order .services-container .order .order-buttons .prices-btn {
    font-size: 1.4rem; } }
@media (max-width: 768px) {
  .header-block-d .header-text {
    font-size: 2.5rem; }
    .header-block-d .header-text span {
      font-size: 1.8rem; }

  .texts .disinfection-images .disinfection-image {
    width: 10rem;
    height: 10rem; }

  .services-order .services-container {
    width: 90%; }
    .services-order .services-container .order .order-form .form {
      padding: 1.5rem;
      margin: 1.5rem; }
      .services-order .services-container .order .order-form .form .form-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 2rem; }
      .services-order .services-container .order .order-form .form .form-text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 2rem; }
      .services-order .services-container .order .order-form .form .form-input {
        padding: 5px;
        margin-bottom: 2rem; }
      .services-order .services-container .order .order-form .form .form-btn {
        font-size: 1.2rem;
        padding: 5px 10px; }
    .services-order .services-container .order .order-buttons {
      margin-bottom: 20px; }
      .services-order .services-container .order .order-buttons .prices-btn {
        font-size: 1.2rem;
        padding: 5px 10px; }

  .questions-container {
    width: 80%; } }
@media (max-width: 576px) {
  .header-block-d .header-text {
    font-size: 2.2rem;
    line-height: 4rem;
    padding: 20rem 0 3rem; }
  .header-block-d span {
    font-size: 1.5rem;
    padding-bottom: 20rem; }

  .title {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 5rem 0 3rem; }

  .texts .disinfection-images .disinfection-image {
    width: 5rem;
    height: 5rem;
    margin: 5rem 1rem 4rem; }
  .texts .disinfection-text-container {
    width: 95%; }
    .texts .disinfection-text-container .disinfection-what {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .texts .disinfection-text-container .disinfection-methods {
      -webkit-box-shadow: none;
              box-shadow: none; }

  .services-order .services-container {
    width: 95%; }
    .services-order .services-container .services .services-block {
      width: 95%; }
    .services-order .services-container .order .order-form .form {
      width: 100%; }
    .services-order .services-container .order .order-form .form-image {
      display: none; }
    .services-order .services-container .order .order-buttons {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 20px; }
      .services-order .services-container .order .order-buttons .prices-btn {
        font-size: 1.2rem;
        padding: 5px 10px;
        margin-bottom: 20px; }

  .questions-container {
    width: 95%; }
    .questions-container .question {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2rem;
      padding-bottom: 1rem; }
      .questions-container .question:hover {
        font-size: 1.6rem; }
    .questions-container .answer {
      font-size: 1.6rem;
      line-height: 2.4rem; } }
@media (max-width: 360px) {
  .menu-link {
    margin-right: 0;
    font-size: 1rem;
    margin-top: 2rem;
    font-style: normal;
    letter-spacing: 0; }

  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .buttons .btn {
      margin-bottom: 20px; } }
.header-block-d1 {
  position: relative;
  background: url(../img/pest_control.png) right no-repeat;
  background-size: cover;
  z-index: -2; }
  .header-block-d1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
    left: 0;
    top: 0; }
  .header-block-d1 .header-text {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30rem 0 3rem; }
  .header-block-d1 span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30rem; }

.texts .pest-control-images {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .texts .pest-control-images .pest-control-image {
    width: 25rem;
    height: 20rem; }

.questions-d1 {
  background: url(../img/pest_control1.png) no-repeat;
  background-size: cover; }

@media (max-width: 992px) {
  .header-block-d1 .header-text {
    font-size: 3rem; }
  .header-block-d1 span {
    font-size: 2rem; }

  .texts .pest-control-images {
    padding: 5rem 0; }
    .texts .pest-control-images .pest-control-image {
      width: 15rem;
      height: 12rem; } }
@media (max-width: 768px) {
  .header-block-d1 .header-text {
    font-size: 2.5rem; }
    .header-block-d1 .header-text span {
      font-size: 1.8rem; } }
@media (max-width: 576px) {
  .header-block-d1 .header-text {
    font-size: 2.2rem;
    line-height: 4rem;
    padding: 20rem 0 3rem; }
  .header-block-d1 span {
    font-size: 1.5rem;
    padding-bottom: 20rem; }

  .title {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 5rem 0 3rem; }

  .texts .pest-control-images {
    padding: 3rem 0; }
    .texts .pest-control-images .pest-control-image {
      width: 5rem;
      height: 5rem;
      margin: 0 1rem; }
  .texts .disinfection-text-container {
    width: 95%; }
    .texts .disinfection-text-container .disinfection-what {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .texts .disinfection-text-container .disinfection-methods {
      -webkit-box-shadow: none;
              box-shadow: none; } }
.header-block-d2 {
  position: relative;
  background: url(../img/deratization.png) right no-repeat;
  background-size: cover;
  z-index: -2; }
  .header-block-d2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
    left: 0;
    top: 0; }
  .header-block-d2 .header-text {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30rem 0 3rem; }
  .header-block-d2 span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30rem; }

.texts .deratization-images {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .texts .deratization-images .deratization-image {
    width: 25rem;
    height: 20rem; }

.questions-d2 {
  background: url(../img/deratization1.png) no-repeat;
  background-size: cover; }

@media (max-width: 992px) {
  .header-block-d2 .header-text {
    font-size: 3rem; }
  .header-block-d2 span {
    font-size: 2rem; }

  .texts .deratization-images {
    padding: 5rem 0; }
    .texts .deratization-images .deratization-image {
      width: 15rem;
      height: 12rem; } }
@media (max-width: 768px) {
  .header-block-d2 .header-text {
    font-size: 2.5rem; }
    .header-block-d2 .header-text span {
      font-size: 1.8rem; } }
@media (max-width: 576px) {
  .header-block-d2 .header-text {
    font-size: 2.2rem;
    line-height: 4rem;
    padding: 20rem 0 3rem; }
  .header-block-d2 span {
    font-size: 1.5rem;
    padding-bottom: 20rem; }

  .title {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 5rem 0 3rem; }

  .texts .deratization-images {
    padding: 3rem 0;
    width: 95%; }
    .texts .deratization-images .deratization-image {
      width: 7rem;
      height: 7rem;
      margin: 0 1rem; }
  .texts .disinfection-text-container {
    width: 95%; }
    .texts .disinfection-text-container .disinfection-what {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .texts .disinfection-text-container .disinfection-methods {
      -webkit-box-shadow: none;
              box-shadow: none; } }
.header-block-d3 {
  position: relative;
  background: url(../img/ornithology.jpg) 100% 10% no-repeat;
  background-size: cover;
  z-index: -2; }
  .header-block-d3:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
    left: 0;
    top: 0; }
  .header-block-d3 .header-text {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30rem 0 3rem; }
  .header-block-d3 span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30rem; }

.texts .ornithology-images {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .texts .ornithology-images .ornithology-image {
    width: 25rem;
    height: 20rem; }

.questions-d3 {
  background: url(../img/ornithology1.png) no-repeat;
  background-size: cover; }

@media (max-width: 992px) {
  .header-block-d3 .header-text {
    font-size: 3rem; }
  .header-block-d3 span {
    font-size: 2rem; }

  .texts .ornithology-images {
    padding: 5rem 0; }
    .texts .ornithology-images .ornithology-image {
      width: 15rem;
      height: 12rem; } }
@media (max-width: 768px) {
  .header-block-d3 .header-text {
    font-size: 2.5rem; }
    .header-block-d3 .header-text span {
      font-size: 1.8rem; } }
@media (max-width: 576px) {
  .header-block-d3 .header-text {
    font-size: 2.2rem;
    line-height: 4rem;
    padding: 20rem 0 3rem; }
  .header-block-d3 span {
    font-size: 1.5rem;
    padding-bottom: 20rem; }

  .title {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 5rem 0 3rem; }

  .texts .ornithology-images {
    width: 95%;
    padding: 3rem 0; }
    .texts .ornithology-images .ornithology-image {
      width: 7rem;
      height: 6rem;
      margin: 0 1rem; }
  .texts .disinfection-text-container {
    width: 95%; }
    .texts .disinfection-text-container .disinfection-what {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .texts .disinfection-text-container .disinfection-methods {
      -webkit-box-shadow: none;
              box-shadow: none; } }
.header-block-d4 {
  position: relative;
  background: url(../img/deodorization.jpg) left no-repeat;
  background-size: cover;
  z-index: -2; }
  .header-block-d4:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
    left: 0;
    top: 0; }
  .header-block-d4 .header-text {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30rem 0 3rem; }
  .header-block-d4 span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30rem; }

.texts .pest-control-images {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .texts .pest-control-images .pest-control-image {
    width: 25rem;
    height: 20rem; }

.questions-d4 {
  background: url(../img/deodorization1.jpg) no-repeat;
  background-size: cover; }

@media (max-width: 992px) {
  .header-block-d4 .header-text {
    font-size: 3rem; }
  .header-block-d4 span {
    font-size: 2rem; }

  .texts .pest-control-images {
    padding: 5rem 0; }
    .texts .pest-control-images .pest-control-image {
      width: 15rem;
      height: 12rem; } }
@media (max-width: 768px) {
  .header-block-d4 .header-text {
    font-size: 2.5rem; }
    .header-block-d4 .header-text span {
      font-size: 1.8rem; } }
@media (max-width: 576px) {
  .header-block-d4 .header-text {
    font-size: 2.2rem;
    line-height: 4rem;
    padding: 20rem 0 3rem; }
  .header-block-d4 span {
    font-size: 1.5rem;
    padding-bottom: 20rem; }

  .title {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 5rem 0 3rem; }

  .texts .pest-control-images {
    padding: 3rem 0; }
    .texts .pest-control-images .pest-control-image {
      width: 5rem;
      height: 5rem;
      margin: 0 1rem; }
  .texts .disinfection-text-container {
    width: 95%; }
    .texts .disinfection-text-container .disinfection-what {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .texts .disinfection-text-container .disinfection-methods {
      -webkit-box-shadow: none;
              box-shadow: none; } }
.header-block-d5 {
  position: relative;
  background: url(../img/treatment.jpg) center no-repeat;
  background-size: cover;
  z-index: -2; }
  .header-block-d5:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
    left: 0;
    top: 0; }
  .header-block-d5 .header-text {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 30rem 0; }
  .header-block-d5 span {
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30rem; }

.texts .pest-control-images {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .texts .pest-control-images .pest-control-image {
    width: 25rem;
    height: 20rem; }

.questions-d5 {
  background: url(../img/treatment1.jpg) no-repeat;
  background-size: cover; }

@media (max-width: 992px) {
  .header-block-d5 .header-text {
    font-size: 3rem; }
  .header-block-d5 span {
    font-size: 2rem; }

  .texts .pest-control-images {
    padding: 5rem 0; }
    .texts .pest-control-images .pest-control-image {
      width: 15rem;
      height: 12rem; } }
@media (max-width: 768px) {
  .header-block-d5 .header-text {
    font-size: 2.5rem; }
    .header-block-d5 .header-text span {
      font-size: 1.8rem; } }
@media (max-width: 576px) {
  .header-block-d5 .header-text {
    font-size: 2.2rem;
    line-height: 4rem;
    padding: 20rem 0 15rem; }
  .header-block-d5 span {
    font-size: 1.5rem;
    padding-bottom: 10rem; }

  .title {
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 5rem 0 3rem; }

  .texts .pest-control-images {
    padding: 3rem 0; }
    .texts .pest-control-images .pest-control-image {
      width: 5rem;
      height: 5rem;
      margin: 0 1rem; }
  .texts .disinfection-text-container {
    width: 95%; }
    .texts .disinfection-text-container .disinfection-what {
      -webkit-box-shadow: none;
              box-shadow: none; }
    .texts .disinfection-text-container .disinfection-methods {
      -webkit-box-shadow: none;
              box-shadow: none; } }

/*# sourceMappingURL=style.css.map */