@font-face {
  font-family: 'Oswald';
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswaldregular.woff2") format("woff2"), url("../fonts/Oswaldregular.woff") format("woff"), url("../fonts/Oswaldregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: local("Oswald DemiBold"), local("Oswald-DemiBold"), url("../fonts/Oswalddemibold.woff2") format("woff2"), url("../fonts/Oswalddemibold.woff") format("woff"), url("../fonts/Oswalddemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: local("Oswald Heavy"), local("Oswald-Heavy"), url("../fonts/Oswaldheavy.woff2") format("woff2"), url("../fonts/Oswaldheavy.woff") format("woff"), url("../fonts/Oswaldheavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/Oswaldmedium.woff2") format("woff2"), url("../fonts/Oswaldmedium.woff") format("woff"), url("../fonts/Oswaldmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../fonts/Oswaldbold.woff2") format("woff2"), url("../fonts/Oswaldbold.woff") format("woff"), url("../fonts/Oswaldbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
* {
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px; }

.nav {
  background: #4F4F65; }
  .nav .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: auto;
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 1rem 0; }
    .nav .nav-container .logo {
      width: 20rem; }
    .nav .nav-container .links {
      margin-top: 3rem; }
      .nav .nav-container .links .header-link {
        margin-right: 1.8rem;
        text-decoration: none;
        font-style: normal;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer; }
        .nav .nav-container .links .header-link:hover {
          color: #FFFFFF; }
    .nav .nav-container .contacts {
      text-align: right;
      margin-top: 2rem;
      font-style: normal;
      color: rgba(255, 255, 255, 0.8); }
  .nav .menu-burger {
    display: none;
    margin-top: 2rem; }
    .nav .menu-burger span {
      display: block;
      width: 2.5rem;
      height: 0.2rem;
      margin-bottom: 0.5rem;
      background-color: white; }

.header-block {
  height: 100vh;
  background: url(../img/title.jpg) center center no-repeat rgba(0, 0, 0, 0.45);
  background-blend-mode: darken;
  background-attachment: fixed;
  background-size: cover; }

.header-text {
  font-weight: bold;
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 35rem 0; }

.down_arrow {
  display: block;
  text-align: center;
  margin: auto;
  padding-bottom: 5rem; }

.types-of-works {
  background: #8397BD;
  padding-bottom: 5rem; }

.title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4.4rem;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #000000;
  padding: 10rem 0 8rem; }

.work-blocks {
  background: #E6EAF6;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
  margin-bottom: 10rem; }

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 5rem; }
  .work-container .work-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5rem; }
    .work-container .work-block .work-icon {
      width: 10rem;
      height: 10rem;
      margin-right: 4rem; }
    .work-container .work-block .work-text {
      display: inline-block;
      font-weight: bold;
      font-size: 3rem;
      color: #000000;
      text-align: left; }

.work-text1 {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 7rem;
  text-align: center;
  color: #FF0606;
  padding-bottom: 5rem; }

.for-who {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(79, 79, 101, 0.8)), color-stop(52.02%, #8397BD), color-stop(52.03%, #8397BD), to(#E6EAF6));
  background: linear-gradient(180deg, rgba(79, 79, 101, 0.8) 0%, #8397BD 52.02%, #8397BD 52.03%, #E6EAF6 100%); }
  .for-who .who-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    flex-wrap: wrap; }
    .for-who .who-container .who-card1,
    .for-who .who-container .who-card2,
    .for-who .who-container .who-card3,
    .for-who .who-container .who-card4,
    .for-who .who-container .who-card5,
    .for-who .who-container .who-card6,
    .for-who .who-container .who-card7,
    .for-who .who-container .who-card8,
    .for-who .who-container .who-card9,
    .for-who .who-container .who-card10,
    .for-who .who-container .who-card11,
    .for-who .who-container .who-card12 {
      width: 25%;
      height: 35rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-blend-mode: darken;
      background-size: contain;
      cursor: pointer; }
      .for-who .who-container .who-card1 .card-text,
      .for-who .who-container .who-card2 .card-text,
      .for-who .who-container .who-card3 .card-text,
      .for-who .who-container .who-card4 .card-text,
      .for-who .who-container .who-card5 .card-text,
      .for-who .who-container .who-card6 .card-text,
      .for-who .who-container .who-card7 .card-text,
      .for-who .who-container .who-card8 .card-text,
      .for-who .who-container .who-card9 .card-text,
      .for-who .who-container .who-card10 .card-text,
      .for-who .who-container .who-card11 .card-text,
      .for-who .who-container .who-card12 .card-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .for-who .who-container .who-card1 .card-text .card-text1,
        .for-who .who-container .who-card2 .card-text .card-text1,
        .for-who .who-container .who-card3 .card-text .card-text1,
        .for-who .who-container .who-card4 .card-text .card-text1,
        .for-who .who-container .who-card5 .card-text .card-text1,
        .for-who .who-container .who-card6 .card-text .card-text1,
        .for-who .who-container .who-card7 .card-text .card-text1,
        .for-who .who-container .who-card8 .card-text .card-text1,
        .for-who .who-container .who-card9 .card-text .card-text1,
        .for-who .who-container .who-card10 .card-text .card-text1,
        .for-who .who-container .who-card11 .card-text .card-text1,
        .for-who .who-container .who-card12 .card-text .card-text1 {
          font-weight: bold;
          font-size: 2.4rem;
          line-height: 3.6rem;
          text-align: center;
          letter-spacing: 0.25em;
          text-transform: uppercase;
          color: #FFFFFF; }
        .for-who .who-container .who-card1 .card-text .card-text2,
        .for-who .who-container .who-card2 .card-text .card-text2,
        .for-who .who-container .who-card3 .card-text .card-text2,
        .for-who .who-container .who-card4 .card-text .card-text2,
        .for-who .who-container .who-card5 .card-text .card-text2,
        .for-who .who-container .who-card6 .card-text .card-text2,
        .for-who .who-container .who-card7 .card-text .card-text2,
        .for-who .who-container .who-card8 .card-text .card-text2,
        .for-who .who-container .who-card9 .card-text .card-text2,
        .for-who .who-container .who-card10 .card-text .card-text2,
        .for-who .who-container .who-card11 .card-text .card-text2,
        .for-who .who-container .who-card12 .card-text .card-text2 {
          display: none;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 3rem;
          text-align: center;
          letter-spacing: 0.25em;
          color: #FFFFFF; }
      .for-who .who-container .who-card1:hover,
      .for-who .who-container .who-card2:hover,
      .for-who .who-container .who-card3:hover,
      .for-who .who-container .who-card4:hover,
      .for-who .who-container .who-card5:hover,
      .for-who .who-container .who-card6:hover,
      .for-who .who-container .who-card7:hover,
      .for-who .who-container .who-card8:hover,
      .for-who .who-container .who-card9:hover,
      .for-who .who-container .who-card10:hover,
      .for-who .who-container .who-card11:hover,
      .for-who .who-container .who-card12:hover {
        color: #FFFFFF;
        background-blend-mode: hard-light; }
        .for-who .who-container .who-card1:hover .card-text1,
        .for-who .who-container .who-card2:hover .card-text1,
        .for-who .who-container .who-card3:hover .card-text1,
        .for-who .who-container .who-card4:hover .card-text1,
        .for-who .who-container .who-card5:hover .card-text1,
        .for-who .who-container .who-card6:hover .card-text1,
        .for-who .who-container .who-card7:hover .card-text1,
        .for-who .who-container .who-card8:hover .card-text1,
        .for-who .who-container .who-card9:hover .card-text1,
        .for-who .who-container .who-card10:hover .card-text1,
        .for-who .who-container .who-card11:hover .card-text1,
        .for-who .who-container .who-card12:hover .card-text1 {
          color: #FFFFFF; }
        .for-who .who-container .who-card1:hover .card-text2,
        .for-who .who-container .who-card2:hover .card-text2,
        .for-who .who-container .who-card3:hover .card-text2,
        .for-who .who-container .who-card4:hover .card-text2,
        .for-who .who-container .who-card5:hover .card-text2,
        .for-who .who-container .who-card6:hover .card-text2,
        .for-who .who-container .who-card7:hover .card-text2,
        .for-who .who-container .who-card8:hover .card-text2,
        .for-who .who-container .who-card9:hover .card-text2,
        .for-who .who-container .who-card10:hover .card-text2,
        .for-who .who-container .who-card11:hover .card-text2,
        .for-who .who-container .who-card12:hover .card-text2 {
          display: block; }

.our-advantages {
  background: url(../img/textura.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 5rem; }
  .our-advantages .advantages-discount {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10rem; }
    .our-advantages .advantages-discount .advantages {
      width: 45%;
      background: #E6EAF6;
      -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 4rem 3.5rem 0; }
      .our-advantages .advantages-discount .advantages .advantage {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 5rem; }
        .our-advantages .advantages-discount .advantages .advantage .advantages-text {
          font-style: normal;
          font-size: 1.8rem;
          line-height: 2.4rem;
          margin-left: 2rem; }
  .our-advantages .discount {
    width: 45%;
    background: url(../img/discount.jpg) rgba(0, 0, 0, 0.45) center center no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 2rem 0rem 3rem;
    -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
    .our-advantages .discount .discount-title {
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 3.6rem;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 12rem; }
    .our-advantages .discount .discount-text {
      font-weight: bold;
      color: rgba(255, 255, 255, 0.8);
      font-size: 2.4rem;
      line-height: 3.6rem;
      text-align: end; }
      .our-advantages .discount .discount-text span {
        display: block;
        font-size: 3.6rem;
        line-height: 5.3rem;
        color: rgba(255, 255, 255, 0.8); }

.customers {
  background-image: url(../img/title1.jpg);
  background-size: cover;
  padding-bottom: 7rem; }

.customer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem; }
  .customer-container .customer {
    width: 30%;
    margin-right: 5rem; }

@media (max-width: 1200px) {
  .nav .nav-container {
    font-size: 1.2rem; }
    .nav .nav-container .logo {
      width: 15rem; }
    .nav .nav-container .links {
      margin-top: 2rem; }
      .nav .nav-container .links .header-link {
        margin-right: 1rem; }
    .nav .nav-container .contacts {
      margin-top: 1rem; }

  .types-of-works .work-container .work-icon {
    width: 8rem;
    height: 8rem; }
  .types-of-works .work-container .work-text {
    font-size: 1.8rem; }

  .for-who .who-container .who-card1,
  .for-who .who-container .who-card2,
  .for-who .who-container .who-card3,
  .for-who .who-container .who-card4,
  .for-who .who-container .who-card5,
  .for-who .who-container .who-card6,
  .for-who .who-container .who-card7,
  .for-who .who-container .who-card8,
  .for-who .who-container .who-card9,
  .for-who .who-container .who-card10,
  .for-who .who-container .who-card11,
  .for-who .who-container .who-card12 {
    width: 50%; }

  .our-advantages .advantages-discount {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10rem; }
    .our-advantages .advantages-discount .advantages {
      width: 80%;
      margin: auto auto 5rem; }
  .our-advantages .discount {
    width: 80%;
    margin: auto;
    padding: 4rem 3rem; } }
@media (max-width: 992px) {
  .nav {
    font-size: 1rem;
    padding: 1rem 0; }
    .nav .logo {
      width: 15rem; }
    .nav .links {
      display: none; }
    .nav .contacts {
      margin-top: 1rem; }
    .nav .menu-burger {
      display: block; }

  .header-text {
    font-size: 2.5rem; } }
@media (max-width: 768px) {
  .types-of-works .work-container {
    padding: 5rem 2rem 0; }
    .types-of-works .work-container .work-icon {
      width: 5rem;
      height: 4rem;
      margin-right: 1rem; }
    .types-of-works .work-container .work-text {
      font-size: 1.4rem; } }
@media (max-width: 576px) {
  .title {
    font-size: 1.8rem;
    padding: 8rem 0 5rem; }

  .nav {
    font-size: 1rem;
    padding: 1rem 0; }
    .nav .nav-container {
      width: 98%; }
      .nav .nav-container .logo {
        width: 12rem; }
      .nav .nav-container .contacts {
        margin-top: 1rem;
        font-size: 0.8rem; }
      .nav .nav-container .menu-burger {
        display: block; }

  .header-block {
    height: 100vh;
    background-attachment: scroll;
    background-size: cover; }

  .header-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 20rem 0; }

  .types-of-works .work-container {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .types-of-works .work-container .work-icon {
      width: 5rem;
      height: 5rem;
      margin-right: 2rem; }
    .types-of-works .work-container .work-text {
      font-size: 1.4rem; }
  .types-of-works .work-text1 {
    font-size: 3.6rem; }

  .for-who .who-container .who-card1,
  .for-who .who-container .who-card2,
  .for-who .who-container .who-card3,
  .for-who .who-container .who-card4,
  .for-who .who-container .who-card5,
  .for-who .who-container .who-card6,
  .for-who .who-container .who-card7,
  .for-who .who-container .who-card8,
  .for-who .who-container .who-card9,
  .for-who .who-container .who-card10,
  .for-who .who-container .who-card11,
  .for-who .who-container .who-card12 {
    width: 100%; }

  .our-advantages {
    background-attachment: scroll; }
    .our-advantages .advantages-discount {
      width: 95%; }
      .our-advantages .advantages-discount .advantages {
        width: 100%; }
    .our-advantages .discount {
      width: 100%; }

  .customer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto; }
    .customer-container .customer {
      width: 40%;
      margin: 0 0 5rem; } }

/*# sourceMappingURL=style.css.map */